<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="req-rep">
            <directory>tests/Bushtaxi/ReqRep</directory>
        </testsuite>
        <testsuite name="pub-sub">
            <directory>tests/Bushtaxi/PubSub</directory>
        </testsuite>
        <testsuite name="push-pull">
            <directory>tests/Bushtaxi/PushPull</directory>
        </testsuite>
    </testsuites>
</phpunit>
